{% extends 'basic/main.html' %}
{% block content %}

<span class="d-flex justify-content-center">
  <form id="clickForm">
    <button class="btn btn-primary" type="submit">Click Me</button>
  </form>
</span>

<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody id="clickTableRows"></tbody>
</table>

{% endblock %}

{% block javascript %}
{{block.super}}
<script>
  const getClickRow = (clickObj) => {
    return $("<tr>")
      .append($("<th>").attr("scope", "row").text(clickObj.id))
      .append($("<td>").text(clickObj.timestamp))
  }

  $.ajax({
    url: "{% url 'ClickCollectorAPI' %}",
    success: function(data){
      $.each(data, (index, element) => {
        var row = getClickRow(element)
        $('#clickTableRows').append(row)
      })
    }
  })
  

  var host = window.location.host
  var ws = new WebSocket(`ws://${host}/ws/click/`)

  ws.onopen = event => {
    $("#clickForm").submit(function(e){
      e.preventDefault()
      ws.send({})
    })
  }

  ws.onmessage = event => {
    if ($('#clickTableRows tr').length > 4){
      $('#clickTableRows').children().last().remove();
    }
    var row = getClickRow(JSON.parse(event.data))
    $('#clickTableRows').prepend(row)
  }

  ws.onclose = event => {
    console.log('close', event);
  }

  ws.onerror = event => {
    console.log('error', event);
  }
</script>
{% endblock javascript %}