{% extends 'basic/main.html' %}
{% block content %}

<span class="d-flex justify-content-center">
  <form id="createNoteForm" style="width: 75%;">
    <div class="form-group">
      <label for="createNoteFormTitle">Title</label>
      <input type="text" class="form-control form-control-sm" id="createNoteFormTitle" name="title" placeholder="optional">
    </div>
    <div class="form-group">
      <textarea class="form-control form-control-sm" id="createNoteFormBody" name="body" rows="3"></textarea>
      <small class="form-text text-muted" id="createNoteFormBodyWordCounter">0 / 255</small>
    </div>
    <button class="btn btn-outline-primary btn-block btn-sm" type="submit" id="createNoteFormSubmitBtn" disabled>Create</button>
  </form>
</span>

<hr>

<div class="card-columns" id="noteColumns"></div>

{% endblock %}

{% block javascript %}
{{block.super}}
<script>
  const getNoteCard = (cardObj) => {
    return $("<div>").addClass("card p-3")
      .append($("<div>").addClass("card-body")
        .append($('<h5>').addClass("card-title").text(cardObj.title))
        .append($('<p>').addClass("card-text").text(cardObj.body))
        .append($('<p>').addClass("card-text")
          .append($('<small>').addClass("text-muted").text(cardObj.timestamp))
        )
      )
  }

  $.ajax({
    url: "{% url 'NotesApi' %}",
    success: function(data){
      console.log(data)
      $.each(data.results, (index, element) => {
        var card = getNoteCard(element)
        $('#noteColumns').append(card)
      })
    }
  })

  var host = window.location.host
  var ws = new WebSocket(`ws://${host}/ws/notes/`)

  $('#createNoteFormBody').keyup(() => {
    $('#createNoteFormSubmitBtn').prop("disabled", $('#createNoteFormBody').val() === "")
  })

  $('#createNoteFormBody').keydown(() => {
    $('#createNoteFormBodyWordCounter').text(`${$('#createNoteFormBody').val().length} / 255`)
  })


  ws.onopen = event => {
    $("#createNoteForm").submit(function(e){
      e.preventDefault()
      if ($('#createNoteFormBody').val().length >=255 || $('#createNoteFormTitle').val().length > 60){
        return
      }
      ws.send(JSON.stringify({
        title: $('#createNoteFormTitle').val(),
        body: $('#createNoteFormBody').val(),
      }))
      $(this)[0].reset()
    })
  }

  ws.onmessage = event => {
    var card = getNoteCard(JSON.parse(event.data))
    $('#noteColumns').prepend(card)
  }

  ws.onclose = event => {
    console.log('close', event);
  }

  ws.onerror = event => {
    console.log('error', event);
  }
</script>
{% endblock javascript %}
