{% extends 'basic/main.html' %}
{% block content %}

<span class="d-flex justify-content-center">
  <form id="createNoteForm" style="width: 75%;">
    <div class="form-group">
      <label for="createNoteFormTitle">Title*</label>
      <input type="text" class="form-control form-control-sm" id="createNoteFormTitle" name="title" placeholder="*">
    </div>
    <div class="form-group">
      <textarea class="form-control form-control-sm" id="createNoteFormBody" name="body" rows="3" placeholder="Description (optional)"></textarea>
    </div>
    <button class="btn btn-outline-primary btn-block btn-sm" type="submit">Create</button>
  </form>
</span>

<hr>

<div class="card-columns">
  <div class="card p-3">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
{{block.super}}

{% endblock javascript %}
